* {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}
